<div class="wrapper">
  <div class="Search">
    <div class="search-form">
      <form class="frmSearch" [formGroup]="searchForm" (ngSubmit)="onSearch()">
        <div class="input-group">
          <input
            class="inputSearch"
            formControlName="searchValue"
            type="text"
            placeholder="Tìm kiếm ở đây"
            autofocus
          />
          <div class="input-group-btn">
            <button class="btn btn-info" type="submit" style="font-size: 14px">
              <i class="glyphicon glyphicon-search"></i>Tìm kiếm
            </button>
            <a
              style="margin-left: 6px; font-size: 14px"
              class="btn btn-primary btn-add"
              routerLink="/home/employee/edit/0"
            >
              <i class="fa fa-plus"></i>Bổ sung
            </a>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="fillter">
    <span>Hiện </span>
    <select class="chosse-page-size">
      <option>5</option>
      <option>10</option>
      <option>15</option>
      <option>20</option>
    </select>
    <span> danh mục</span>
  </div>
  <div class="container">
    <div
      class="row"
      *ngFor="let item of Employees | paginate : { itemsPerPage: 6, currentPage: p }"
    >
      <div class="box box-primary content-item">
        <div class="box-body box-profile">
          <div class="header-item">
            <img
              class="profile-user-img img-responsive img-circle"
              [src]="item.photo"
              alt="User profile picture"
            />
            <div class="action-profile">
              <a
                href="/home/employee/edit/{{ item.id }}"
                class="btn btn-xs btn-primary btn-profile"
              >
                <i class="fa fa-edit"> </i>
              </a>
              <a  href=""class="btn btn-xs btn-danger btn-profile">
                <i class="fa fa-trash"> </i>
              </a>
            </div>
          </div>
          <h3 class="profile-username text-center">{{ item.fullName }}</h3>

          <ul class="list-group list-group-bordered">
            <li class="list-group-item">
              <b>Ngày sinh</b>
              <p class="pull-right">{{ item.birthday }}</p>
            </li>
            <li class="list-group-item">
              <b>Email</b>
              <p class="pull-right">{{ item.email }}</p>
            </li>
            <li class="list-group-item">
              <b>Giới tính</b>
              <p class="">{{ item.gender }}</p>
            </li>
            <li class="list-group-item">
              <b>Địa chỉ</b>
              <p class="">{{ item.address }}</p>
            </li>
            <li class="list-group-item">
              <b>SDT</b>
              <p class="">{{ item.phone }}</p>
            </li>
          </ul>
        </div>
        <!-- /.box-body -->
      </div>
    </div>
  </div>
  <div class="pagination">
    <pagination-controls
      (pageChange)="p = $event"
      previousLabel="Trước"
      nextLabel="Sau"
    ></pagination-controls>
  </div>
</div>
