<div class="background">
  <div class="wrapper">
    <form [formGroup]="editForm" (ngSubmit)="save()" class="formInput">
      <div class="mb-3">
        <label for="fullname" class="form-label">Họ và tên</label>
        <input
          formControlName="fullname"
          type="text"
          class="form-control"
          id="fullname"
          [value]="this.user.fullName"
        />
      </div>
      <small
        *ngIf="editForm.controls['fullname'].dirty && editForm.hasError('required', 'fullname')"
        class="text-danger"
        >*
      </small>

      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <div class="email-control">
          <p>{{ editForm.value.email }}</p>
        </div>
      </div>

      <div class="mb-3">
        <label for="address" class="form-label">Địa Chỉ</label>
        <input formControlName="address" type="text" class="form-control" id="address" />
      </div>
      <small
        *ngIf="editForm.controls['address'].dirty && editForm.hasError('required', 'address')"
        class="text-danger"
        >*
      </small>
      <div class="mb-3">
        <label for="birthday" class="form-label">Ngày sinh</label>
        <input formControlName="birthday" type="text" class="form-control" id="birthday" />
      </div>
      <small
        *ngIf="editForm.controls['birthday'].dirty && editForm.hasError('required', 'birthday')"
        class="text-danger"
        >*
      </small>
      <div class="mb-3">
        <label for="gender" class="form-label">Giới tính</label>
        <select class="form-control option-select" formControlName="gender">
          <option [selected]="this.user.gender === 'Male'">Nam</option>
          <option [selected]="this.user.gender === 'Female'">Nữ</option>
        </select>
      </div>

      <div class="mb-3">
        <label for="phone" class="form-label">Số điện thoại</label>
        <input formControlName="phone" type="text" class="form-control" id="phone" />
      </div>
      <small
        *ngIf="editForm.controls['phone'].dirty && editForm.hasError('required', 'phone')"
        class="text-danger"
        >*
      </small>
      <div class="button">
        <button [disabled]="editForm.invalid" type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-warning" (click)="goBack()">Cancel</button>
      </div>
    </form>
  </div>
</div>
