.wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba($color: #000000, $alpha: 0.4);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  margin: 0 0 2em;
  height: 100px;
  width: 20%;
  text-align: center;
  padding: 1em;
  margin: 0 auto 1em;
  display: inline-block;
  vertical-align: top;
  transition: all linear 0.2s;
}

/*
  Set the color of the icon
*/
svg path,
svg rect {
  fill: #ff6700;
}
