<aside class="side-bar" [ngClass]="statusSideBar ? 'hidden-sidebar' : ''">
  <div class="wrapper">
    <i class="fa-solid fa-bars icon" (click)="onToggleSidebar()"></i>
    <a routerLink="/" class="logo"><strong>DH</strong> Shop</a>
    <span class="title">Quản lý dữ liệu</span>
    <ul class="list-item">
      <li class="item">
        <a class="item-link" routerLink="/home/supplier" routerLinkActive="active">
          <i class="fa-solid fa-truck-field-un icon-item"></i>
          Nhà cung cấp
        </a>
      </li>
      <li class="item">
        <a class="item-link" routerLink="/home/employee" routerLinkActive="active">
          <i class="fa-solid fa-person icon-item"></i>
          Nhân viên
        </a>
      </li>
      <li class="item">
        <a class="item-link" routerLink="/home/category" routerLinkActive="active">
          <i class="fa-solid fa-cow"></i>
          Loại hàng
        </a>
      </li>
      <li class="item">
        <a class="item-link" routerLink="/home/product" routerLinkActive="active">
          <i class="fa-solid fa-cow"></i>
          Mặt hàng
        </a>
      </li>
      <li class="item">
        <a class="item-link" routerLink="/home/customer" routerLinkActive="active">
          <i class="fa-solid fa-cow"></i>
          Khách Hàng
        </a>
      </li>
    </ul>
    <span class="title">Quản lý bán hàng</span>
    <ul class="list-item">
      <li class="item">
        <a class="item-link" routerLink="/home/order/create" routerLinkActive="active">
          <i class="fa-solid fa-truck-field-un icon-item"></i>
          Lập đơn hàng
        </a>
      </li>
      <li class="item">
        <a
          class="item-link"
          routerLink="/home/order/index"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <i class="fa-solid fa-truck-field-un icon-item"></i>Xử lý đơn hàng</a
        >
      </li>
    </ul>
  </div>
</aside>
