<aside class="side-bar" [ngClass]="statusSideBar ? 'hidden-sidebar' : ''">
  <div class="wrapper">
    <i class="fa-solid fa-bars icon" (click)="onToggleSidebar()"></i>
    <a routerLink="/" class="logo"><strong>DH</strong> Shop</a>
    <span class="title">Quản lý dữ liệu</span>
    <ul class="list-item">
      <li class="item"><a class="item-link" routerLink="/">Nhà cung cấp</a></li>
      <li class="item"><a class="item-link" routerLink="/product">Nhân viên</a></li>
      <li class="item"><a class="item-link" routerLink="/">Loại hàng</a></li>
    </ul>
    <span class="title">Quản lý bán hàng</span>
    <ul class="list-item">
      <li class="item active"><a class="item-link">Lập đơn hàng</a></li>
      <li class="item"><a class="item-link">Xử lý đơn hàng</a></li>
    </ul>
  </div>
</aside>
