<nav id="sidebar" class="sidebar js-sidebar">
  <div class="sidebar-content js-simplebar">
    <a class="sidebar-brand" href="index.html">
      <span class="align-middle">DH SHOP</span>
    </a>

    <ul class="sidebar-nav">
      <li class="sidebar-header">Quản lý dữ liệu</li>

      <li class="sidebar-item active">
        <a class="sidebar-link" href="index.html">
          <i class="align-middle" data-feather="sliders"></i>
          <span class="align-middle">Nhà cung cấp</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="index.html">
          <i class="align-middle" data-feather="sliders"></i>
          <span class="align-middle">Nhân viên</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="index.html">
          <i class="align-middle" data-feather="sliders"></i>
          <span class="align-middle">Loại hàng</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="index.html">
          <i class="align-middle" data-feather="sliders"></i>
          <span class="align-middle">Sản phẩm</span>
        </a>
      </li>

      <li class="sidebar-header">Quản lý bán hàng</li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="ui-buttons.html">
          <i class="align-middle" data-feather="square"></i>
          <span class="align-middle">Quản lý Order</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
