.side-bar {
  width: 260px;
  height: 100%;
  background-color: #222e3c;
  position: relative;
  transition: all linear 0.4s;
}

.wrapper {
  position: fixed;
  width: 260px;
  height: 100vh;
}

.hidden-sidebar.side-bar {
  margin-left: -260px;
}

.icon {
  position: absolute;
  top: 22px;
  right: -36px;
  font-size: 2.4rem;
  cursor: pointer;
}

.logo {
  display: block;
  color: var(--logo-color);
  font-size: 2.4rem;
  padding: 6px 10px;
  width: 14rem;
  font-weight: 400;
  line-height: 6rem;
  text-decoration: none;
  height: 6rem;
  margin: 0 auto;
  text-align: center;
  align-self: center;
}
.title {
  display: block;
  padding: 24px 24px 8px;
  color: #ced4da;
  font-size: 1.6rem;
  font-weight: 600;
  cursor: default;
}
.list-item {
  list-style: none;
  padding: 0;
}
.item {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  color: #e9ecef80;

  :hover {
    color: #e9ecef;
  }
}

.item-link {
  text-decoration: none;
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: block;
  padding: 10px 26px;
  color: #e9ecef80;
}

.icon-item {
  font-size: 1.4rem;
  margin-right: 4px;
  width: 1.8rem;
  height: 1.8rem;
}

.active {
  background: linear-gradient(
    90deg,
    rgba(59, 125, 221, 0.1),
    rgba(59, 125, 221, 0.0875) 50%,
    transparent
  );
  color: #e9ecef;
  font-weight: 600;
}
