<div class="wrapper">
  <form [formGroup]="editForm" (ngSubmit)="save()" class="formInput">
    <!--productName-->
    <div class="mb-3">
      <label for="exampleInputproductname1" class="form-label">Tên mặt hàng</label>
      <input
        formControlName="productName"
        type="text"
        class="form-control"
        id="exampleInputfullname1"
      />
      <!--Validation input productName-->
      <div
        *ngIf="
          editForm.controls['productName'].invalid &&
          (editForm.controls['productName'].touched || editForm.controls['productName'].dirty)
        "
      >
        <small class="text-danger" *ngIf="editForm.controls['productName'].errors?.['required']"
          >Vui lòng nhập mặt hàng</small
        >
      </div>
    </div>
    <!--price-->
    <div class="mb-3">
      <label for="exampleInputprice" class="form-label">Giá</label>
      <input formControlName="price" type="text" class="form-control" id="exampleInputprice" />
      <!--Validation input price-->
      <div
        *ngIf="
          editForm.controls['price'].invalid &&
          (editForm.controls['price'].touched || editForm.controls['price'].dirty)
        "
      >
        <small class="text-danger" *ngIf="editForm.controls['price'].errors?.['required']"
          >Vui lòng nhập price</small
        >
      </div>
    </div>
    <!--Category-->
    <div class="mb-3 list-item">
      <label for="exampleInputcategoryId" class="form-label">Loại hàng</label>
      <select
        class="form-control option-select"
        formControlName="CategoryId"
        id="exampleInputcategoryId"
      >
        <option>--Chọn loại hàng--</option>
        <option *ngFor="let item of categories" [selected]="item.id == editForm.value.CategoryId">
          {{ item.categoryName }}
        </option>
      </select>
      <!--validation Category-->
      <div
        *ngIf="editForm.controls['CategoryId'].invalid && editForm.controls['CategoryId'].touched"
      >
        <small class="text-danger" *ngIf="editForm.controls['CategoryId'].errors?.['required']"
          >Vui lòng chọn loại hàng</small
        >
      </div>
    </div>
    <!--supplier-->
    <div class="mb-3 list-item">
      <label for="exampleInputsupplierId" class="form-label">Nhà cung cấp</label>
      <select
        class="form-control option-select"
        formControlName="SupplierId"
        id="exampleInputcategoryId"
      >
        <option>--Chọn nhà cung cấp--</option>
        <option *ngFor="let item of suppliers" [selected]="item.id == editForm.value.SupplierId">
          {{ item.supplierName }}
        </option>
      </select>

      <!--Validation supplier-->
      <div
        *ngIf="editForm.controls['SupplierId'].invalid && editForm.controls['SupplierId'].touched"
      >
        <small class="text-danger" *ngIf="editForm.controls['SupplierId'].errors?.['required']"
          >Vui chọn nhà cung cấp</small
        >
      </div>
    </div>
    <!--unit-->
    <div class="mb-3">
      <label for="exampleInputunit" class="form-label">Đơn vị tính</label>
      <input formControlName="unit" type="text" class="form-control" id="exampleInputunit" />
      <!--validation unit-->
      <div
        *ngIf="
          editForm.controls['unit'].invalid &&
          (editForm.controls['unit'].touched || editForm.controls['unit'].dirty)
        "
      >
        <small class="text-danger" *ngIf="editForm.controls['unit'].errors?.['required']"
          >Vui lòng nhập đơn vị tính</small
        >
      </div>
    </div>
    <!--quantity-->
    <div class="mb-3">
      <label for="exampleInputsize" class="form-label">Số lượng</label>
      <input formControlName="quantity" type="text" class="form-control" id="exampleInputsize" />
      <div
        *ngIf="
          editForm.controls['quantity'].invalid &&
          (editForm.controls['quantity'].touched || editForm.controls['quantity'].dirty)
        "
      >
        <small class="text-danger" *ngIf="editForm.controls['quantity'].errors?.['required']"
          >Vui lòng nhập số lượng
        </small>
      </div>
    </div>
    <div class="mb-3">
      <input
        formControlName="photo"
        type="file"
        class="form-control"
        name="uploadPhoto"
        id="image"
        onchange="document.getElementById('photo').src=window.URL.createObjectURL(this.files[0])"
      />
    </div>
    <!--photo-->
    <div class="mb-3">
      <label for="exampleInputanh1" class="form-label"> Ảnh</label>
      <div class="content-img">
        <img
          id="photo"
          src="https://taimienphi.vn/tmp/cf/aut/anh-gai-xinh-1.jpg"
          class="img img-bordered"
          style="width: 200px"
        />
      </div>
    </div>
    <small
      *ngIf="editForm.controls['photo'].touched && editForm.hasError('required', 'photo')"
      class="text-danger"
      >*
    </small>
    <div class="button">
      <button type="submit" class="btn btn-primary">Save</button>
      <button type="button" class="btn btn-warning" routerLink="/home/product">Cancel</button>
    </div>
  </form>
</div>
<div class="wrapper">
  <div class="table-responsive table-content">
    <table class="table">
      <thead>
        <tr class="th-primary">
          <th>Ảnh</th>
          <th>Mô tả/ Tiêu đề</th>
          <th>Ẩn ảnh</th>
          <th>Của màu nào</th>
          <th style="width: 11rem">
            <button class="btn-add btn-add-item btn-content" (click)="showDeleteMessage(1)">
              <i class="fa fa-plus"></i>
            </button>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="th-body">
          <td class="item-photo" style="width: 11rem" class="table-item">
            <img src="https://taimienphi.vn/tmp/cf/aut/anh-gai-xinh-1.jpg" class="photo" alt="" />
          </td>
          <td class="table-item">Ảnh gái xinh</td>
          <td class="table-item" style="width: 14rem">No</td>
          <td class="table-item" style="width: 20rem">Đỏ</td>

          <td>
            <div class="activity">
              <a routerLink="/home/product/edit/" class="btn-sup btn-content">
                <i class="fa fa-edit"></i>
              </a>
              <button
                class="btn-delete btn-content"
                style="color: red"
                (click)="showDeleteMessage(1)"
              >
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </td>
        </tr>
        <tr class="th-body">
          <td class="item-photo" style="width: 11rem" class="table-item">
            <img src="https://taimienphi.vn/tmp/cf/aut/anh-gai-xinh-1.jpg" class="photo" alt="" />
          </td>
          <td class="table-item">Ảnh gái xinh</td>
          <td class="table-item" style="width: 14rem">No</td>
          <td class="table-item" style="width: 20rem">Đỏ</td>

          <td>
            <div class="activity">
              <a routerLink="/home/product/edit/" class="btn-sup btn-content">
                <i class="fa fa-edit"></i>
              </a>
              <button
                class="btn-delete btn-content"
                style="color: red"
                (click)="showDeleteMessage(1)"
              >
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </td>
        </tr>
        <tr class="th-body">
          <td class="item-photo" style="width: 11rem" class="table-item">
            <img src="https://taimienphi.vn/tmp/cf/aut/anh-gai-xinh-1.jpg" class="photo" alt="" />
          </td>
          <td class="table-item">Ảnh gái xinh</td>
          <td class="table-item" style="width: 14rem">No</td>
          <td class="table-item" style="width: 20rem">Đỏ</td>

          <td>
            <div class="activity">
              <a routerLink="/home/product/edit/" class="btn-sup btn-content">
                <i class="fa fa-edit"></i>
              </a>
              <button
                class="btn-delete btn-content"
                style="color: red"
                (click)="showDeleteMessage(1)"
              >
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="wrapper">
  <div class="table-responsive table-content">
    <table class="table">
      <thead>
        <tr class="th-primary">
          <th>Tên thuộc tính</th>
          <th>Giá trị thuộc tính</th>
          <th style="width: 11rem">
            <button class="btn-add btn-add-item btn-content" (click)="showDeleteMessage(1)">
              <i class="fa fa-plus"></i>
            </button>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="th-body">
          <td class="table-item">Size</td>

          <td class="table-item">M, X, XL</td>

          <td>
            <div class="activity">
              <a routerLink="/home/product/edit/" class="btn-sup btn-content">
                <i class="fa fa-edit"></i>
              </a>
              <button
                class="btn-delete btn-content"
                style="color: red"
                (click)="showDeleteMessage(1)"
              >
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </td>
        </tr>
        <tr class="th-body">
          <td class="table-item">Màu</td>

          <td class="table-item">Đỏ, Cam, Vàng, Lục, Lam</td>

          <td>
            <div class="activity">
              <a routerLink="/home/product/edit/" class="btn-sup btn-content">
                <i class="fa fa-edit"></i>
              </a>
              <button
                class="btn-delete btn-content"
                style="color: red"
                (click)="showDeleteMessage(1)"
              >
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </td>
        </tr>
        <tr class="th-body">
          <td class="table-item">Size</td>

          <td class="table-item">M, X, XL, XXL</td>

          <td>
            <div class="activity">
              <a routerLink="/home/product/edit/" class="btn-sup btn-content">
                <i class="fa fa-edit"></i>
              </a>
              <button
                class="btn-delete btn-content"
                style="color: red"
                (click)="showDeleteMessage(1)"
              >
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </td>
        </tr>
        <tr class="th-body">
          <td class="table-item">Size</td>

          <td class="table-item">M, X, XL</td>

          <td>
            <div class="activity">
              <a routerLink="/home/product/edit/" class="btn-sup btn-content">
                <i class="fa fa-edit"></i>
              </a>
              <button
                class="btn-delete btn-content"
                style="color: red"
                (click)="showDeleteMessage(1)"
              >
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
