<div class="wrapper">
  <div class="Search">
    <div class="search-form">
      <form class="frmSearch" [formGroup]="searchForm">
        <div class="input-group">
          <div class="fillter">
            <select class="chosse-page-size">
              <option>--Trạng Thái--</option>
              <option>Chờ xác nhận</option>
              <option>Đã Xác nhận</option>
              <option>Đang giao</option>
              <option>Hoàn thành</option>
              <option>Từ chối</option>
              <option>Đã hủy</option>
            </select>
          </div>
          <input
            class="inputSearch"
            formControlName="searchValue"
            type="text"
            placeholder="Tìm kiếm ở đây"
            autofocus
          />
          <div class="input-group-btn">
            <button class="btn btn-info" type="submit" style="font-size: 14px">
              <i class="glyphicon glyphicon-search"></i>Tìm kiếm
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="fillter">
    <span>Hiện </span>
    <select class="chosse-page-size">
      <option>5</option>
      <option>10</option>
      <option>15</option>
      <option>20</option>
    </select>
    <span> danh mục</span>
  </div>
  <div class="table-responsive table-content">
    <table class="table">
      <thead>
        <tr class="th-primary">
          <th>Tên khách hàng</th>
          <th>Ngày lập</th>
          <th>Nhân viên phụ trách</th>
          <th>Thời điểm duyệt</th>
          <th>Ngày nhận hàng</th>
          <th>Thời điểm kết thúc</th>
          <th>Trạng thái</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let item of orders | paginate : { itemsPerPage: 5, currentPage: p }"
          class="th-body"
        >
          <td>{{ item.Customer.customerName }}</td>
          <td>{{ item.orderTime }}</td>
          <td>{{ item.Employee.fullName }}</td>
          <td>{{ item.acceptTime }}</td>
          <Td>{{ item.shippingTime }}</Td>
          <td>{{ item.finishedTime }}</td>
          <td>{{ item.status }}</td>
          <td>
            <div class="activity">
              <a routerLink="/home/supplier/edit/{{ item.id }}" class="btn-sup">
                <i class="fa-solid fa-bars"></i>
              </a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pagination">
    <pagination-controls
      (pageChange)="p = $event"
      previousLabel="Trước"
      nextLabel="Sau"
    ></pagination-controls>
  </div>
</div>
