<div class="background">
  <div class="wrapper">
    <form [formGroup]="deleteEmployeeForm" (ngSubmit)="onSubmit()" class="deleteform">
      <div class="mb-3">
        <label for="exampleInputfullname1" class="form-label">Họ và Tên</label>
        <input
          formControlName="fullname"
          type="text"
          class="form-control"
          id="exampleInputfullname1"
        />
      </div>

      <div class="mb-3">
        <label for="exampleInputemail" class="form-label">Email</label>
        <input formControlName="email" type="text" class="form-control" id="exampleInputemail" />
      </div>

      <div class="mb-3">
        <label for="exampleInputgender" class="form-label">Giới Tính</label>
        <input formControlName="gender" type="text" class="form-control" id="exampleInputgender" />
      </div>
      <div class="mb-3">
        <label for="exampleInputAddress1" class="form-label">Địa Chỉ</label>
        <input
          formControlName="address"
          type="text"
          class="form-control"
          id="exampleInputAddress1"
        />
      </div>

      <div class="mb-3">
        <label for="exampleInputphone1" class="form-label">SĐT</label>
        <input formControlName="phone" type="text" class="form-control" id="exampleInputphone1" />
      </div>

      <div class="mb-3">
        <label for="exampleInputbirthday1" class="form-label">Ngày Sinh</label>
        <input
          formControlName="birthday"
          type="text"
          class="form-control"
          id="exampleInputbirthday1"
        />
      </div>

      <div class="mb-3">
        <label for="exampleInputanh1" class="form-label"> Ảnh</label>
        <img
          formControlName="anh"
          id="photo"
          [src]="deleteEmployeeForm.value.anh"
          class="img img-bordered"
          style="width: 200px"
        />
      </div>

      <div class="button">
        <button type="submit" class="btn btn-danger">Xóa</button>
        <button type="button" class="btn btn-primary" routerLink="/home/employee">Quay Lại</button>
      </div>
    </form>
  </div>
</div>
