.wrapper {
  display: flex;
  margin: 0;
  padding: 0;
}

.main {
  flex: 1;
}

.content {
  width: 100%;
  min-height: calc(100vh - (var(--footer-height) + var(--header-height)));
  background-color: #f4f7fb;
  margin-top: 5.6rem;
}
