<div class="wrapper">
  <form [formGroup]="editForm" (ngSubmit)="save()" class="formInput">
    <div class="mb-3">
      <label for="categoryName" class="form-label">Tên loại hàng</label>
      <input formControlName="categoryName" type="text" class="form-control" id="categoryName" />
    </div>
    <small
      *ngIf="
        editForm.controls['categoryName'].dirty && editForm.hasError('required', 'categoryName')
      "
      class="text-danger"
      >*
    </small>

    <div class="mb-3">
      <label for="description" class="form-label">Mô tả</label>
      <input formControlName="description" type="text" class="form-control" id="description" />
    </div>
    <small
      *ngIf="editForm.controls['description'].dirty && editForm.hasError('required', 'description')"
      class="text-danger"
      >*
    </small>

    <div class="button">
      <button [disabled]="editForm.invalid" type="submit" class="btn btn-primary">Save</button>
      <button type="button" class="btn btn-warning" routerLink="/home/category">Cancel</button>
    </div>
  </form>
</div>
