<div class="wrapper">
  <form [formGroup]="editForm" (ngSubmit)="save()" class="formInput">
    <div class="mb-3">
      <label for="categoryName" class="form-label">Tên loại hàng</label>
      <input formControlName="categoryName" type="text" class="form-control" id="categoryName" />
      <div
        *ngIf="
          editForm.controls['categoryName'].invalid &&
          (editForm.controls['categoryName'].touched || editForm.controls['categoryName'].dirty)
        "
      >
        <small class="text-danger" *ngIf="editForm.controls['categoryName'].errors?.['required']"
          >Vui lòng nhập loại hàng</small
        >
      </div>
    </div>

    <div class="mb-3">
      <label for="description" class="form-label">Mô tả</label>
      <input formControlName="description" type="text" class="form-control" id="description" />
      <div
        *ngIf="
          editForm.controls['description'].invalid &&
          (editForm.controls['description'].touched || editForm.controls['description'].dirty)
        "
      >
        <small class="text-danger" *ngIf="editForm.controls['description'].errors?.['required']"
          >Vui lòng nhập mô tả</small
        >
      </div>
    </div>

    <div class="button">
      <button type="submit" class="btn btn-primary">Save</button>
      <button type="button" class="btn btn-warning" routerLink="/home/category">Cancel</button>
    </div>
  </form>
</div>
